{
  "extends": ["@ryuuto829/eslint-config-with-prettier/react", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", { "code": 80, "tabWidth": 2 }]
  }
}
