@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply min-h-screen flex flex-col sm:flex-row bg-gray-800 text-gray-50;
  }

  /* When modal is open, blur content and prevent scrolling */
  .is-blurred {
    @apply pointer-events-none overflow-hidden;
    filter: brightness(40%);
  }
}

@variants group-hover {
  /* Preview card cover image styles */
  .cover-img img {
    filter: brightness(0.4);
    @apply transform transition transition-transform;
  }

  .cover-img:hover img {
    filter: brightness(0.5);
    transform: scale(1.1);
  }
}

@layer components {
  /* Preview card header decoration */
  .card-header:before {
    content: '';
    @apply block w-1 h-full bg-red-400 absolute -left-5 rounded;
  }

  /* Modal close button */
  .close-btn:before,
  .close-btn:after {
    content: '';
    @apply absolute bg-white top-0 h-10 left-5 w-0.5 transform;
  }

  .close-btn:before {
    @apply rotate-45;
  }

  .close-btn:after {
    @apply -rotate-45;
  }

  /* Custom scrollbar */
  .custom-scroll::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  .custom-scroll::-webkit-scrollbar-track {
    @apply rounded-xl;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-black rounded-xl;
  }

  /* Form input fields */
  .input-label {
    @apply uppercase font-bold text-sm mb-3;
  }

  .input-field {
    @apply border-2 border-black hover:border-white focus:border-white bg-transparent rounded px-2 py-1 mb-5 text-gray-50 outline-none transition-all;
  }

  .input-field::-webkit-calendar-picker-indicator {
    @apply fill-current text-gray-50;
  }

  .input-field::-webkit-file-upload-button {
    @apply hidden;
  }
}
